<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ConexionDB"
			 connectionString="Data Source=DESKTOP-HCC7389\SQLEXPRESS;Initial Catalog=GranBodega;Integrated Security=True;TrustServerCertificate=True;"
			 providerName="Microsoft.Data.SqlClient"/>
	</connectionStrings>
</configuration>